{% extends "ilabpro01BackFotogBundle:Default:baseBackFotog.html.twig" %}


{% block title %}Sitio Fot&oacute;grafos
{% endblock %}
        
{% block stylesheets %}
    <link href="{{ asset('bundles/ilabpro01backfotog/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/encabezado.css') }}" rel="stylesheet" type="text/css" />


{% endblock %}
        
{% block cabecera %}
        
    <header>
        <div id="contenedorHeader">
            <div class="izquierda">
                
            </div>
            <div class="derecha">
                <div class="logo">
                    
                </div>
                
            </div>
        
    {% block menu %}
            <div class="menuHeader">
                <nav>
                    
 <ul class="nav">
    <li><a href="">Sitio</a>
        <ul>
            <li><a href="{{ path('perfil_fotog') }}">Perfil</a></li>
            <li><a href="{{ path('lista_planes') }}">Plan</a></li>
            <li><a href="{{ path('lista_fpago') }}">Forma Pago</a></li>
        </ul>
    </li>
    <li><a href="">Productos</a>
        <ul>
            <li><a href="http://localhost/Project02/web/app_dev.php/back/listaprod">Productos</a></li>
            <li><a href="http://localhost/Project02/web/app_dev.php/back/preciosprod">Precios Productos</a></li>
        </ul>
    </li>
    <li><a href="">Eventos</a>
        <ul>
            <li><a href="http://localhost/Project02/web/app_dev.php/back/listaeventos">Eventos</a></li>
            <li><a href="{{ path('lista_fpago') }}">Publicación</a></li>
            <li><a href="{{ path('albumes') }}">Albumes</a></li>
            
            <li><a href="http://localhost/Project02/web/app_dev.php/back/listausuarios">Clientes</a></li>
        </ul>
    </li>
    <li><a href="">Ventas</a>
        <ul>
            <li><a href="{{ path('pedidos') }}">Pedidos</a></li>
            <li><a href="">Reportes</a></li>
        </ul>
    </li>
</ul>
         </nav>          
            </div>
    {% endblock %}
            
        </div>
    </header>
        
{% endblock %}

{% block cuerpo %}
{% endblock %}

{% block javascripts %}
{% endblock %}


