{% extends "ilabpro01FrontBundle:Default:baseMenuFront.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/ilabpro01backfotog/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/encabezado.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/cuerpo.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block cuerpo %}

    <div id="contenedor_cuerpo">
    
    <div id="container">
<div id="wrapper">
<div id="content">
    <h2>Evento 1</h2>

            <table border='0' cellspacing='0' cellpadding='4' align='center'>
                <tr>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                </tr>
            </table>
            <br><br>
            
            <div class="fila">
                    <span class="form-el">
                        <p>Fotos seleccionadas: 
                            <input id="canti" name="canti" type="text" maxlength="4" size="5"/>
                        <button class="boton" type="button" >Comprar</button>
                        </p>
                    </span>
                </div>
            <div class="fila">
                    <span class="form-el">
                        <a href="">Seleccionar todas</a>
                    </span>
                </div>
            <div class="fila">
                    <span class="form-el">
                        <a href="">Deseleccionar todas</a>
                    </span>
                </div>
                <div class="fila">
                    <span class="form-el">
                        <a href="http://localhost/Project02/web/app_dev.php/front/showevent">Volver</a>
                    </span>
                </div>
            
            
</div>

</div>
        </div>
            
{% endblock %}

