{% extends "ilabpro01BackFotogBundle:Default:baseMenuFotog.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/ilabpro01backfotog/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/encabezado.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/cuerpo.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block cuerpo %}

    <div id="contenedor_cuerpo">
    
    <div id="container">
<div id="wrapper">
<div id="content">
    <h2>Evento 1</h2>

            <p>
                
                <a href="">Agregar fotos</a>
            </p>
            <p>
                
                <a href="">Eliminar fotos</a>
            </p>
            
            <table border='0' cellspacing='0' cellpadding='4' align='center'>
                <tr>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                    <td>
                        <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
                    </td>
                </tr>
            </table>
            
            <p><a href="{{ path('lista_eventos') }}">Volver</a></p>
            
</div>

</div>
        </div>
            
{% endblock %}

