{% extends "ilabpro01FrontBundle:Default:baseMenuFront.html.twig" %}

{% block stylesheets %}

    <link href="{{ asset('bundles/ilabpro01backadmin/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backadmin/css/encabezado.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backadmin/css/cuerpo.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backadmin/css/tabla.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block cuerpo %}
    
    <div id="contenedorCuerpo">
        
        <div id="contenidoCuerpo">
            <h2>Fot&oacute;grafo</h2>

    <table class="imagetable">
        <tbody>
{#
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>

            <tr>
                <th>Sitio</th>
                <td>{{ entity.idSitio }}</td>
            </tr>
            #}
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            {#
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Contraseña</th>
                <td>{{ entity.contrasenia }}</td>
            </tr>
            #}
            <tr>
                <th>Tel&eacute;fono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Estudio</th>
                <td>{{ entity.estudio }}</td>
            </tr>
            {#
            <tr>
                <th>Fecha alta</th>
                <td>{{ entity.fechaAlta }}</td>
            </tr>
            #}
            <tr>
                <th>Ciudad</th>
                <td>{{ entity.idCiudad }}</td>
            </tr>
            {#
            <tr>
                <th>Plan Fotógrafo</th>
                <td>{{ entity.idPlanFotografo }}</td>
            </tr>
            <tr>
                <th>Forma Pago</th>
                <td>{{ entity.idFormaPago }}</td>
            </tr>
            <tr>
                <th>Fecha inicio plan</th>
                <td>{{ entity.fechaInicioPlan }}</td>
            </tr>
            #}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('front_homepage') }}">
            Volver
        </a>
    </li>
  
</ul>
            
                    </div>
    </div>
    
{% endblock %}
