{% extends '::base.html.twig' %}

{% block body -%}
    <h1>pedidos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Sitio</th>
                <td>{{ entity.sitio }}</td>
            </tr>
            <tr>
                <th>Fotografo</th>
                <td>{{ entity.fotografo }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Fechaalta</th>
                <td>{{ entity.fechaAlta }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ entity.importe }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pedidos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pedidos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('pedidos_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
