{% extends "ilabpro01BackFotogBundle:Default:baseMenuFotog.html.twig" %}

{% block stylesheets %}

    <link href="{{ asset('bundles/ilabpro01backfotog/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/encabezado.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/cuerpo.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/tabla.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block cuerpo %}

    <div id="contenedorCuerpo">
        
        <div id="contenidoCuerpo">
    <h2>Precios Productos</h2>
    
    <p>Lista precio
    <select>
        <option>[Todas]</option>
        <option>Lista A</option>
      <option>Lista B</option>
      <option>Lista C</option>
    </select>
        </p>
        <br>
    <table class="imagetable">
        <thead>
            <tr>
                <th>Lista</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.lista }}</td>
                <td>{{ entity.producto }}</td>
                <td>{{ entity.precio }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('precioxproducto_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('precioxproducto_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('precioxproducto_new') }}">
                Nuevo precio
            </a>
        </li>
        <li>
            <a href="{{ path('login_fotog') }}">Volver</a>
        </li>
    </ul>
    
            
           </div>
    
    </div> 
    {% endblock %}
