{% extends '::base.html.twig' %}

{% block body -%}
    <h1>precioXproducto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Sitio</th>
                <td>{{ entity.sitio }}</td>
            </tr>
            <tr>
                <th>Fotografo</th>
                <td>{{ entity.fotografo }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Producto</th>
                <td>{{ entity.producto }}</td>
            </tr>
            <tr>
                <th>Lista</th>
                <td>{{ entity.lista }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('precioxproducto') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('precioxproducto_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('precioxproducto_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
