{% extends "ilabpro01BackFotogBundle:Default:baseMenuFotog.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/ilabpro01backfotog/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/encabezado.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/cuerpo.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block cuerpo %}

    <div id="container">
<div id="wrapper">
<div id="content">
    
<div id="content01">
            <p>
                
                <h2>Modificar imagen</h2>
            </p>
            <p>
                Tamaño recomendado 150x150 px
            </p>
            <p>
                <img src="{{ asset('bundles/ilabpro01backfotog/images/paisaje1.jpg') }}" />
            </p>
            <p>
                Subir nueva imagen
            </p>

            <a href="{{ path('perfil_fotog') }}">Volver</a>
</div>
    </div>
</div>

</div>
    
            
            
{% endblock %}
