{% extends "ilabpro01BackFotogBundle:Default:baseMenuFotog.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/ilabpro01backfotog/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/encabezado.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/cuerpo.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/tabla.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block cuerpo %}

    <div id="contenedorCuerpo">
        
        <div id="contenidoCuerpo">
    <h2>Albumes</h2>

    <table class="imagetable">
        <thead>
            <tr>
                {#
                <th>Id</th>
                <th>Sitio</th>
                <th>Fotografo</th>
#}
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#
                <td><a href="{{ path('albumes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.sitio }}</td>
                <td>{{ entity.fotografo }}</td>
#}
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('albumes_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('albumes_edit', { 'id': entity.id }) }}">Fotos</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('albumes_new') }}">
                Nuevo álbum
            </a>
        </li>
       
    </ul>
    
            </div>
    
    </div>
    {% endblock %}
